label {
  font-weight: 700;
  color: hsl(186, 14%, 43%);
  margin-bottom: 12px;
  display: block;
}

.inputContainer {
  background-color: #f3f8fb;
  border-radius: 4px;
  display: flex;
  font-weight: 700;
  position: relative;
  input {
    color: hsl(183, 100%, 15%);
    caret-color: hsl(172, 67%, 45%);
    appearance: none;
    -moz-appearance: textfield;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    padding: 5px 12px 5px 0;
    text-align: right;
    font-size: 24px;
    font-family: "Space Mono", monospace;
    font-weight: inherit;
    width: 0;
    outline-color: transparent;
    outline-width: 2px;
    outline-style: auto;
    transition: outline-color 0.25s;
    &:active,
    &:focus {
      outline-color: hsl(172, 67%, 45%);
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &::placeholder,
    &:placeholder-shown {
      color: hsl(184, 14%, 56%);
    }
  }
}

.inputColumn {
  padding: 0 8px;
}

.tipContainer {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 16px;
  margin-bottom: 32px;
  button {
    font-family: inherit;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    font-weight: bold;
    border-radius: 4px;
    border-style: none;
    transition: background-color 0.15s, color 0.15s;
    padding: 5px 0;
    &:active,
    &:hover {
      background-color: hsl(173, 61%, 77%);
      color: hsl(183, 100%, 15%);
    }
    &.active {
      background-color: hsl(172, 67%, 45%);
      color: hsl(183, 100%, 15%);
    }
  }
  input {
    color: hsl(183, 100%, 15%);
    appearance: none;
    -moz-appearance: textfield;
    flex-grow: 1;
    background-color: #f3f8fb;
    border: none;
    text-align: center;
    font-size: 24px;
    font-family: "Space Mono", monospace;
    font-weight: bold;
    outline-color: transparent;
    outline-width: 2px;
    outline-style: solid;
    transition: outline-color 0.25s;
    caret-color: hsl(172, 67%, 45%);
    &:active,
    &:focus {
      outline-color: hsl(172, 67%, 45%);
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &::placeholder,
    &:placeholder-shown {
      color: hsl(186, 14%, 43%);
    }
  }
}

.inputIcon {
  font-size: 24px;
  color: hsl(184, 14%, 56%);
  position: absolute;
  font-weight: 400;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.tipResults {
  background-color: #07484b;
  border-radius: 16px;
  margin-top: 32px;
  padding: 24px;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  flex-wrap: wrap;
}

.labelTopRow {
  color: hsl(189, 41%, 97%);
  font-weight: bold;
}
.labelBottomRow {
  color: hsl(184, 14%, 56%);
  font-weight: bold;
  font-size: 13px;
}

.resultValue {
  color: hsl(172, 67%, 45%);
  font-size: 32px;
  font-weight: bold;
}

.resetButton {
  margin-top: 16px;
  padding: 6px 0;
  width: 100%;
  font-family: inherit;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-size: 24px;
  font-weight: bold;
  border-radius: 6px;
  border-style: none;
  transition: background-color 0.15s, color 0.15s;
  &:active,
  &:hover {
    background-color: hsl(173, 61%, 77%);
    color: hsl(183, 100%, 15%);
  }
  &:disabled {
    background-color: hsl(183, 79%, 24%);
    color: hsl(183, 100%, 15%);
  }
}

.tipLabel {
  margin-top: 40px;
}

@media screen and (min-width: 500px) {
  .tipContainer {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}

@media screen and (min-width: 850px) {
  .tipCalculator {
    display: flex;
    gap: 32px;
    > div {
      width: 50%;
    }
  }
  .result {
    margin: 8px 0;
  }
  .tipContainer {
    margin-bottom: 38px;
  }
  .inputColumn {
    padding: 16px;
  }
  .tipResults {
    margin-top: 0;
    padding: 42px;
    display: flex;
    flex-direction: column;
  }
  .resetButton {
    margin-top: auto;
  }
  .resultValue {
    font-size: 48px;
  }
}
